<div class="container mx-auto rounded-xl shadow-sm">
  <h1 class="text-2xl font-bold" >Loyalty Programs</h1>
  <div class="row"> 
  <% @loyalty_programs.each do |loyalty_program| %>
      <%= render loyalty_program %>
  <% end %>
  </div>
  <%= link_to "New loyalty program", new_loyalty_program_path, class:"btn btn-primary text-sm font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2" %>
</div>

