<div id="<%= dom_id loyalty_program_datum %>">
  <%# <p>
    <strong>Loyalty Program Data:</strong>
    <%= loyalty_program_datum.attributes %>
    <%# <%= loyalty_program_datum.account_id %>
  <%# </p>

  <p>
    <strong>Points:</strong>
    <%= loyalty_program_datum.points %>
  <%# </p> %>

</div>
