<div id="<%= dom_id loyalty_program_datum %>">
  <p>
    <strong>Loyalty program:</strong>
    <%= loyalty_program_datum.loyalty_program_id %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= loyalty_program_datum.points %>
  </p>

  <p>
    <strong>Transaction history:</strong>
    <%= loyalty_program_datum.transaction_history %>
  </p>

</div>
