<h1>Editing loyalty program datum</h1>

<%= render "form", loyalty_program_datum: @loyalty_program_datum %>

<br>

<div>
  <%= link_to "Show this loyalty program datum", @loyalty_program_datum %> |
  <%= link_to "Back to loyalty program data", loyalty_program_data_path %>
</div>
