<%# <h1>New loyalty program datum</h1>

<%= render "form", loyalty_program_datum: @loyalty_program_datum %>

<%# <br>

<div>
    <%= link_to "Back to loyalty program data", loyalty_program_data_path %>
<%# </div> %> 
