<h1 class="display-1 pb-2 text-center">Transaction History</h1>

<div id="transactions">
	<div class="container">
    <table class="table table-hover table-striped">
      <thead class="table-head table-dark ">
        <tr>
          <th class="card-text">
            LoyaltyProgramDataID:
          </th>
          <th class="card-text">
            Amount Transferred:
          </th>
          <th class="card-text">
            Transaction Date: 
          </th>
          <th class="card-text">
            Status: 
          </th>
        </tr>
      </thead>
      <tbody class="table-body">
        <% @transactions.each do |transaction| %>
          <tr>
            <td>
              <%= transaction.loyalty_program_datum_id %>
            </td>
            <td>
              <%= transaction.amount %>
            </td>
            <td>
              <%= transaction.created_at %>
            </td>
            <td>
              <%= transaction.status %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%#= link_to "New transaction", new_transaction_path %>
