<h1>All Transactions</h1>

<div id="transactions">
	<div class="container">
    <table class="table table-hover table-striped">
      <thead class="table-head table-dark ">
        <tr>
          <th class="">
            LoyaltyProgramDataID:
          </th>
          <th class="">
            Amount Transferred:
          </th>
          <th class="">
            Transaction Date: 
          </th>
          <th class="">
            Status: 
          </th>
        </tr>
      </thead>
      <tbody class="table-body">
        <% @transactions.each do |transaction| %>
          <tr>
            <td class="text-light">
              <%= transaction.loyalty_program_id %>
            </td>
            <td class="text-light">
              <%= transaction.amount %>
            </td>
            <td class="text-light">
              <%= transaction.created_at %>
            </td>
            <td class="text-light">
              <%= transaction.status %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%#= link_to "New transaction", new_transaction_path %>
