<div class="navbar navbar-expand-sm bg-primary border-end border-light d-flex flex-row justify-content-between">
    <div class="d-flex flex-row h-0 ">
        <div class="">
            <a class="nav-link text-light fw-bold" href="/">Home</a>
        </div>
        <div class="">
            <a class="nav-link text-light fw-bold" href="<%= loyalty_programs_path %>" name="loyalty_programs">Loyalty Programs</a>
        </div>
        <div class="">
            <a class="nav-link text-light fw-bold" href="<%= loyalty_program_data_path%>" name="exchange">Exchange Points</a>
        </div>
        <div class="">
            <a class="nav-link text-light fw-bold" href="<%= transactions_path%>" name="transactions">Transactions</a>
        </div>
    </div>
    <div class="p-0 m-0 pe-2 nav-link">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link text-warning", name: "sign_out" %>
    </div>
</div>